@import 'src/styles.scss';


.attention {
    color: red;
    align-items: start;
    align-self: start;
    align-content: start;
    justify-content: start;
    justify-self: start;
    justify-items: start;
    text-align: left;
}

.recommendation{
    color:orange;
    align-items: start;
    align-self: start;
    align-content: start;
    justify-content: start;
    justify-self: start;
    justify-items: start;
    text-align: left;
}