@import 'src/styles.scss';

.switcher {
    display: flex;
    // padding:$padding-middle;
    text-align: left;
    align-items: start;
    align-self: start;
    align-content: start;
    justify-self: start;
    justify-content: start;
    justify-items: start;

  .confirm-element{

    .checkbox{
      display: inline-block;
      vertical-align: bottom;
    }
   
    .text-confirmation {
      color: $active-text;
      vertical-align: bottom;
    }
  }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #99c5b6;
  display: inline-block;

}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #99c5b6;
  display: inline-block;

}